services:
  - type: web
    name: todolink-backend
    env: node
    plan: free
    region: singapore
    buildCommand: npm rebuild sqlite3 --build-from-source && npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 3000

